.footer-content {
  min-height: 120px;
  display: flex;
  justify-content: center;
}

.footer-content div{
  width: 60%;
  font-weight: 500;
  font-size: 1.1rem;
  color: #fff;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
}

.footer-content div a {
  color: #fff;
}

.icon-title {
  padding-right: 4px;
}

.redes {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  padding-top: 15px;
}

.redes p {
  padding: 10px;
}

.redes a > i {
  font-size: 1.8rem;
  color: #fff;
}
