<div class="mat-elevation-z4">
  <div class="bg-massa-dark footer">
    <mat-tab-group mat-align-tabs="center" class="content">
      <mat-tab>
        <ng-template mat-tab-label>
          <i class="fa-solid fa-store icon-title"></i>
          Sobre
        </ng-template>

        <div class="footer-content">
          <div>
            Temos o compromisso diário com a satisfação e a felicidade de nossos clientes.
            Primamos pela excelência em tudo o que fazemos e priorizamos a segurança
            alimentar e a qualidade de nossos produtos.
          </div>
        </div>
      </mat-tab>

      <mat-tab>
        <ng-template mat-tab-label>
          <i class="fa-solid fa-location-dot icon-title"></i>
          Localização
        </ng-template>
        <div class="footer-content">
          <div>
            Avenida Tiradadentes, 615 - Bom Retiro <br>
            01101-010 <br>
            São Paulo - SP
          </div>
        </div>
      </mat-tab>

      <mat-tab>
        <ng-template mat-tab-label>
          <i class="fa-solid fa-laptop-code icon-title"></i>
          Desenvolvedor
        </ng-template>
        <div class="footer-content">
          <div>
            <p><i class="fa-brands fa-github"></i><a href="https://github.com/estevesarthur" class="link-a"> Arthur Esteves</a></p>
            <p><i class="fa-brands fa-linkedin-in"></i><a href="https://www.linkedin.com/in/bianca-goiano" class="link-a"> Bianca Goiano</a></p>
            <p><i class="fa-brands fa-linkedin-in"></i><a href="https://www.linkedin.com/in/guilherme-lucera-49997b213" class="link-a"> Guilherme Giovanne</a></p>
            <p><i class="fa-brands fa-github"></i><a href="https://github.com/PauloMarquesG" class="link-a"> Paulo Gonçalves</a></p>
            <p><i class="fa-brands fa-linkedin-in"></i><a href="https://www.linkedin.com/in/pedropaulino1" class="link-a"> Pedro Paulino</a></p>
          </div>
        </div>
      </mat-tab>

    </mat-tab-group>

  <div class="bg-massa redes mat-elevation-z4">
    <p>
      <a href=""><i class="fa-brands fa-facebook"></i></a>
    </p>

    <p>
      <a href=""><i class="fa-brands fa-whatsapp"></i></a>
    </p>

    <p>
      <a href=""><i class="fa-brands fa-instagram"></i></a>
    </p>
  </div>
</div>
