.pedido {
  position: fixed;
  bottom: 30px;
  right: 25px;
  z-index: 100;
}

.pedido-btn {
  width: 140px;
  height: 50px;
  border-radius: 30px;
  background-color: #ff8800;
  color: #fff;
  font-size: 1rem;
}

.pedido-btn:hover{
  opacity: 0.8;
}
