mat-form-field {
  width: 100%;
}

mat-label {
	color: #ae7a47;
}

.mat-form-field-subscript-wrapper{
	background-color: #ae7a47;
}

.numero {
  width: 30%;
}

.complemento {
  width: 70%;
}

.btn-dialog {
  display: flex;
  justify-content: flex-end;
  color: #fff;
}

.mat-radio-group {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: #ae7a47
}

.mat-radio-button {
  flex-grow: 1;
  margin-right: 8px;
}

/*.dialog-icon {
  padding-bottom: 3px;
}*/

@media screen and (max-width: 600px) {
  .btn-dialog{
    justify-content: center;
  }

  .btn-dialog button .span-icon {
    display: none;
  }

  button .dialog-icon {
    padding-right: 0;
  }
}
